<link rel="stylesheet" href="/css/login.css">
<div class="logo">
  <svg width="50" height="50" viewBox="0 0 100 100">
      <circle cx="50" cy="50" r="40" fill="#00a8ff" opacity="0.7" />
      <path d="M35 30 L65 50 L35 70 Z" fill="white" />
  </svg>
  <h1>VIRTUSYNC</h1>
</div>
<div class="login" >
     <h1>LOG IN</h1>
  <form action="/login" method="POST">
    <input name="username" placeholder="Username" required><br>
    <input name="password" type="password" placeholder="Password" required><br>
    <button type="submit">Login</button>
  </form>
  <form action="/register" method="post">
  <p>Don't have an account? <a href="/register">Register</a></p>
  </form>
</div>
